# Core Django
Django==5.1.6
djangorestframework==3.16.0
django-cors-headers==4.7.0
asgiref==3.8.1
sqlparse==0.5.3
pytz==2025.2

feedparser==6.0.11
beautifulsoup4==4.13.3
gunicorn==23.0.0

# Database (si vous utilisez PostgreSQL)
psycopg2-binary==2.9.6  # Plus léger que psycopg2

# Sécurité
cryptography==3.4.8
PyJWT==2.3.0

# Requêtes HTTP
requests==2.32.3
urllib3==2.3.0

# Gestion des médias (si nécessaire)
pillow==11.1.0  # Seulement si vous traitez des images

# Variables d'environnement
python-dotenv==1.0.0  # Optionnel mais utile
