@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body, html, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  color: #f4f4f4;

  min-height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
}

main {
  background: linear-gradient(135deg, #1c2d55 0%, #4c6581 100%);
  flex: 1;
}

.footer {
  /* background: linear-gradient(135deg, #c72c41 0%, #eaeaea 100%); */
  background-color: #1c2d55;
  color: #f4f4f4;
  font-size: 12px;

  padding-top: 0.5rem;
  padding-bottom: 0.05rem;

  text-align: center;

  width: 100%;
}

.typewriter-container {
  padding-top: 30px;
  text-align: center;

  transition: height 0.5s ease-out;

  animation: pulse 3s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 0.7;
    transform: scale(1);

  }
  50% {
    opacity: 1;
    transform: scale(1.01);
  }
}

.typewriter-text {
  display: inline-block;
  font-family: 'Quicksand', sans-serif;

  color: white;
  overflow: hidden;

  border-right: .25em solid #c72c41;

  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .05em;
}

/* Par défaut */
.typing-effect {
  animation: none;
}

/* Ordinateur */
@media (min-width: 768px) {
  .typewriter-text {
    font-size: 1.8rem;
  }
  .typing-effect {
    animation:
      typing-desktop 3.5s steps(44, end),
      blink-caret .75s step-end infinite;
  }
}

/* Téléphone */
@media (max-width: 767px) {
  .typewriter-text {
    font-size: 1rem;
  }
  .typing-effect {
    animation:
      typing-mobile 2s steps(20, end),
      blink-caret .6s step-end infinite;
  }
}

@keyframes typing-desktop {
  from { width: 0 }
  to { width: 40% }
}

@keyframes typing-mobile {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #c72c41; }
}

.custom-card {
  height: 100%;

  position: relative;

  background: linear-gradient(200deg, #1c2d55 0%, #f4f4f4 60%);
  /* background-color: #f4f4f4; */
  overflow: hidden;

  color: "#1c2d55";

  cursor: "pointer";
  transition: "transform 0.3s ease";

  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(199, 44, 65, 0.05);

  display: flex;
  flex-direction: column;

  transition: transform 0.4s, box-shadow 0.4s;
}

.custom-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(196, 188, 189, 0.4);

  border-radius: 14px;
  transition: all 0.1s ease;
}

#progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 0%;
  height: 8px;

  background-color: #c72c41;
  z-index: 1000;
  transition: width 0.25s ease-out;
}

[data-aos="wave"] {
  animation: waveIn 1s ease-out both;
}

@keyframes waveIn {
  0% {
    opacity: 0;
    transform: translateY(50px) rotate(-1deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(0);
  }
}
