body {
  /* background: linear-gradient(135deg, #1c2d55 0%, #c72c41 100%); */
  background: linear-gradient(135deg, #1c2d55 0%, #eaeaea 100%);
  min-height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: #f4f4f4;
}

.custom-card {
  height: 100%;

  /* background-color: #f8f9fa; */

  background-color: "#f4f4f4";
  color: "#1c2d55";
  
  border-radius: "12px";
  box-shadow: "0 4px 12px rgba(0;0;0;0.1)";
  cursor: "pointer";
  transition: "transform 0.3s ease";

  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.custom-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
